*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.navbar {
    background-color: #FFBD59;
    text-align: center;
    font-size: 5px;
    padding: 10px 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.link {
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #545454; 
}

.container {
    max-width: 400px;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
    padding: 15px;
}

.banner img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
}

.deporte {
    border: 1px solid #ddd;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
}

.deporte-title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    writing-mode: vertical-rl;
    text-align: center;
    float: left;
    margin-right: 10px;
}

.fixtures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    width: 48%;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.button {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #e0e0e0;
}

.sponsors h2 {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}

.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 20px;
}

.sponsor-box {
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 12px;
    color: #333;
    text-align: center;
    border-radius: 5px;
}

.view-more {
    font-size: 14px;
    color: #333;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

.view-more:hover {
    background-color: #e0e0e0;
}

.footer {
    background-color: #f1a62b;
    color: white;
    padding: 10px 0;
    font-size: 5px;
    margin-top: 20px;
}