* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.navbar {
    background-color: #FFBD59;
    text-align: center;
    font-size: 5px;
    padding: 10px 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.link {
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #545454; 
}

.container {
    max-width: 400px;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
    padding: 15px;
}

h2, h3 {
    font-weight: normal !important; 
}

.footer {
    background-color: #f1a62b;
    color: white;
    padding: 10px 0;
    font-size: 5px;
    margin-top: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ddd; 
    padding: 10px;
    margin: 15px; 
    border-radius: 5px; 
    position: relative;
    background-color: white;
}
    