* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #FFBD59;
    text-align: center;
    font-size: 5px;
    padding: 10px 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.link {
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #545454; 
}

.container {
    max-width: 400px;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
    padding: 15px;
}

.sponsors-title {
    font-weight: normal !important; 
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.sponsor-grid {
    display: grid;
    gap: 10px; 
    width: 100%; 
    padding: 10px;
}

.sponsor-grid.large {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    margin-top: 10px;
}

.sponsor-grid.large .sponsor-box {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sponsor-grid.large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sponsor-grid.medium {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.sponsor-grid.medium .sponsor-box {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sponsor-grid.medium img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sponsor-grid.small {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.sponsor-grid.small .sponsor-box {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sponsor-grid.small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background-color: #f1a62b;
    color: white;
    padding: 10px 0;
    font-size: 5px;
    margin-top: 20px;
}
