<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa Renault - Cantina</title>
    <link rel="stylesheet" href="static\Cantina.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div id="navbar">
                <a href="\Fixtures" class="link">Fixtures</a>
                <a href="\" class="link">Inicio</a>
                <a href="\Inscripcion" class="link">Inscripción</a>
            </div>
        </nav>
        <div class="header">
            <img src="static\img\title.png" alt="Copa Renault Title" class="header-img">
        </div>
        <h2 class="cantina-title">CANTINA</h2>

        <div class="item">
            <div class="section-title">PRECIOS</div>
        </div>
        <div class="menu">
            <div class="item">
                <img src="images/choripan.png" alt="Choripan">
                <span>CHORIPAN $3500</span>
            </div>
            <div class="item">
                <img src="images/pancho.png" alt="Pancho">
                <span>PANCHO $1500</span>
            </div>
            <div class="item">
                <img src="images/hamburguesa.png" alt="Hamburguesa">
                <span>HAMBURGUESA $3500</span>
            </div>
            <div class="item">
                <img src="images/infusion.png" alt="Infusión">
                <span>INFUSIÓN $1500</span>
            </div>
            <div class="item">
                <img src="images/medialuna.png" alt="Medialuna">
                <span>MEDIALUNA $500</span>
            </div>
        </div>
        <div class="footer">
            <a href="https://www.instagram.com/coparenault/" class="link">Instagram</a>
            <a href="\Inscripcion" class="link">Inscribirse</a>
        </div>
    </div>
</body>
</html>
