<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa Renault - Inscripción</title>
    <link rel="stylesheet" href="static\Inscripcion.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div id="navbar">
                <a href="\Cantina" class="link">Cantina</a>
                <a href="\" class="link">Inicio</a>
                <a href="\Fixtures" class="link">Fixtures</a>
            </div>
        </nav>
        <div class="header">
            <img src="static\img\title.png" alt="Copa Renault Title" class="header-img">
        </div>
        <h2>INSCRIPCIÓN</h2>
        

        <h3>¿Qué incluye?</h3>
        <div class="item">
            <h3>Incluye una pulsera que da acceso a ingresar al campus, jugar y reclamar almuerzo.</h3>
        </div>

        <h3>Costos</h3>
        <div class="item">
            <h3>Futbol 100 usd</h3>
            <h3>Voley 100 usd</h3>
            <h3>Basket 100 usd</h3>
        </div>

        <div class="footer">
            <a href="https://www.instagram.com/coparenault/" class="link">Instagram</a>
        </div>
    </div>
</body>

</html>
