<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa Renault - Mapa</title>
    <link rel="stylesheet" href="static\Mapa.css">
    <link rel="icon" href="static\img\icono.png" type="icon">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div id="navbar">
                <a href="\Cantina" class="link">Cantina</a>
                <a href="\" class="link">Inicio</a>
                <a href="\Fixtures" class="link">Fixtures</a>
                <a href="\Inscripcion" class="link">Inscripción</a>
            </div>
        </nav>
        <div class="header">
            <img src="static\img\title.png" alt="Copa Renault Title" class="header-img">
        </div>
        <h2 class="mapa-title">Mapa</h2>
        <div class="banner">
            <img src="static\img\mapa.png" alt="Banner">
        </div>
        <div class="footer">
            <a href="https://www.instagram.com/coparenault/" class="link">Instagram</a>
            <a href="\Inscripcion" class="link">Inscribirse</a>
        </div>
    </div>
</body>
</html>
