<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa Renault</title>
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="../static/sponsors.css">
</head>
<body>
    <header>
        <h1>COPA RENAULT</h1>
        <img src="https://media.a24.com/p/03f93ce3abc036e86e4f53b8315f28ee/adjuntos/296/imagenes/009/037/0009037821/1200x675/smart/boca-defensajpg.jpg" alt="Banner Copa Renault">
    </header>

    <main>
        <section class="deporte">
            <h2>Fútbol</h2>
            <a href="#" class="boton">MAPA</a>
            <div class="fixtures">
                <h3>FIXTURES</h3>
                <a href="#" class="boton">MASCULINO</a>
                <a href="#" class="boton">FEMENINO</a>
                <a href="#" class="boton">INSCRIBIRSE</a>
            </div>
            <a href="#" class="boton">MAPA</a>
            <a href="#" class="boton">REGLAMENTO</a>
        </section>

        <section class="deporte">
            <h2>Voley</h2>
            <a href="#" class="boton">MAPA</a>
            <div class="fixtures">
                <h3>FIXTURES</h3>
                <a href="#" class="boton">MASCULINO</a>
                <a href="#" class="boton">FEMENINO</a>
                <a href="#" class="boton">INSCRIBIRSE</a>
            </div>
            <a href="#" class="boton">MAPA</a>
            <a href="#" class="boton">REGLAMENTO</a>
        </section>

        <section class="deporte">
            <h2>Basket</h2>
            <a href="#" class="boton">MAPA</a>
            <div class="fixtures">
                <h3>FIXTURES</h3>
                <a href="#" class="boton">MASCULINO</a>
                <a href="#" class="boton">FEMENINO</a>
                <a href="#" class="boton">INSCRIBIRSE</a>
            </div>
            <a href="#" class="boton">MAPA</a>
            <a href="#" class="boton">REGLAMENTO</a>
        </section>

        <section class="sponsors">
            <h2>Sponsors De Nuestra Copa</h2>
            <div class="grid-sponsors">
                <!-- Sponsor 1 -->
                <div class="sponsor card text-center">
                    <a href="https://argentina.gridohelado.com/" target="_blank" class="sponsor-link">
                        <img src="static/img/grido.png" class="card-img-top" alt="Grido">
                        <div class="card-body">
                            <p class="card-text">Grido</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 2 -->
                <div class="sponsor card text-center">
                    <a href="https://fieargentina.com.ar/" target="_blank" class="sponsor-link">
                        <img src="static/img/fie.png" class="card-img-top" alt="Fie">
                        <div class="card-body">
                            <p class="card-text">Fie</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 3 -->
                <div class="sponsor card text-center">
                    <a href="https://21.edu.ar/" target="_blank" class="sponsor-link">
                        <img src="static/img/s20.png" class="card-img-top" alt="S20">
                        <div class="card-body">
                            <p class="card-text">S20</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 4 -->
                <div class="sponsor card text-center">
                    <a href="https://prettiviajes.tur.ar/" target="_blank" class="sponsor-link">
                        <img src="static/img/pretty.png" class="card-img-top" alt="Pretty">
                        <div class="card-body">
                            <p class="card-text">Pretty</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 5 -->
                <div class="sponsor card text-center">
                    <a href="https://www.bancopatagonia.com.ar/personas/index.php" target="_blank" class="sponsor-link">
                        <img src="static/img/patagonia.png" class="card-img-top" alt="Patagonia">
                        <div class="card-body">
                            <p class="card-text">Patagonia</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 6 -->
                <div class="sponsor card text-center">
                    <a href="https://cityespacio.com.ar/" target="_blank" class="sponsor-link">
                        <img src="static/img/city.png" class="card-img-top" alt="City">
                        <div class="card-body">
                            <p class="card-text">City</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 7 -->
                <div class="sponsor card text-center">
                    <a href="https://aceiteraprincipito.com/" target="_blank" class="sponsor-link">
                        <img src="static/img/principito.png" class="card-img-top" alt="Principito">
                        <div class="card-body">
                            <p class="card-text">Principito</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 8 -->
                <div class="sponsor card text-center">
                    <a href="https://www.instagram.com/panaderiacongreso/" target="_blank" class="sponsor-link">
                        <img src="static/img/congreso.png" class="card-img-top" alt="Congreso">
                        <div class="card-body">
                            <p class="card-text">Congreso</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 9 -->
                <div class="sponsor card text-center">
                    <a href="https://hamburguesasbeltran.com.ar/" target="_blank" class="sponsor-link">
                        <img src="static/img/beltran.png" class="card-img-top" alt="Beltran">
                        <div class="card-body">
                            <p class="card-text">Beltran</p>
                        </div>
                    </a>
                </div>
                <!-- Sponsor 10 -->
                <div class="sponsor card text-center">
                    <a href="https://www.instagram.com/khalamadisco/" target="_blank" class="sponsor-link">
                        <img src="static/img/khalama.png" class="card-img-top" alt="Khalama">
                        <div class="card-body">
                            <p class="card-text">Khalama</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

    <footer>
        <p>Sigue la Copa Renault en Instagram</p>
        <a href="#" class="social-link">@CopaRenault</a>
    </footer>
</body>
</html>